* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3684fd;
    --primary-color-light: #b5ddff;
    
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;

    --text-color: #000;
    --white-color: #fff;
    --gray-color: #333;
    --yellow-color: #fbc15f;
}



/* DEBUG RULES */

.debug .box {
    height: 80px;
    padding: 20px;
    background-color: var(--primary-color-light);
}



/* COMMON RULES */

.container {
    max-width: 600px;
    margin: auto;
}

.px-1point5 {
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.card, .col {
    border-radius: 25px;
}


/* HEADER */

.site-header {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 4rem;
}



/* INTRODUCTION SECTION */

#introduction .card{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primary-color-light);
}

#introduction .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
}


/* PLANNING SECTION */

#planning {
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#planning .col {
    margin: 2rem;
}


/* TESTIMONIALS SECTION */

#testimonials {
    margin-bottom: 20px;
}

#testimonials .card {
    padding: 2rem;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

#testimonials .card-img {
    margin: 1rem;
}


/* BENEFITS SECTION */

#benefits {
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#benefits .card{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primary-color-light);
}

#benefits .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
}


/* ABOUT US SECTIONS */
#about-us {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#about-us .card {
    margin-bottom: 2rem;
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .container {
        width: 740px;
    }

    #introduction .cards-container, #benefits .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #introduction .card:first-child {
        width: calc(66.666% - 2rem);
    }

    #introduction .card {
        width: calc(33.333% - 2rem);
    }

    #benefits .card {
        width: calc(50% - 2rem);
    }

    #testimonials .card {
        display: flex;
    }

    #testimonials .card-txt {
        flex-grow: 1;
    }

    #testimonials .card-img {
        flex-shrink: 0;
        margin: 0 3rem 0 0;
    }

    #about-us .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #about-us .card:first-child {
        width: calc(60% - 2rem);
    }

    #about-us .card {
        width: calc(40% - 2rem);
    }
}

@media screen and (min-width: 992px) {
    
    .container {
        max-width: 940px;
    }

    #introduction .card:first-child .box {
        width: 50%;
    }

    #introduction .card:first-child {
        display: flex;
    }

    #planning .col {
        width: calc(50% - 4rem);
    }

    #planning .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #benefits .card {
        width: calc(33.333% - 2rem);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}