* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3684fd;
    --primary-color-light: #b5ddff;
    
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;

    --text-color: #000;
    --white-color: #fff;
    --gray-color: #333;
    --yellow-color: #fbc15f;
}



/* DEBUG RULES */



/* COMMON RULES */

.container {
    max-width: 600px;
    margin: auto;
}

.px-1point5 {
    padding: 0 1.5rem;
}

.m-top-1point5 {
    margin-top: 1.5rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    padding: 20px;
}

.card, .col {
    border-radius: 25px;
}

a {
    text-decoration: none;
}

i {
    padding: 0 5px;
}

.font3rem {
    font-size: 3rem;
}

.txt-center {
    text-align: center;
}

.white-txt {
    color: white;
}

.blue-txt {
    color: var(--primary-color);
}

.button {
    padding: 7px 15px;
    border-radius: 15px;
}

.big-btn {
    padding: 7px 30px;
}

.button.white-btn:hover {
    background-color: rgba(240, 236, 236, 0.5)
}

.button.blue-btn:hover {
    background-color: rgba(34, 51, 202, 0.5)
}

.white-btn {
    background-color: white;
    color: black;
}

.blue-btn {
    background-color: var(--primary-color);
    color: white;
}

.bg-white {
    background-color: white;
}


/* HEADER */

.site-header {
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    margin-bottom: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.site-header .box {
    padding: 20px 0;
}

#nav {
    display: none;
}

ul {
    list-style: none;
}

li a {
    color: white;
    margin-left: 15px;
    display: inline-block;
    line-height: 70px;
}

#logo {
    display: inline;
}

#header-button {
    display: inline;
}


/* INTRODUCTION SECTION */

#introduction {
    margin-top: 7rem;
}

#introduction .card{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primary-color-light);
}

#introduction .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
}

#img-box {
    padding-bottom: 0;
}

#img-box img {
    height: 100%;
    padding-top: 1.5rem;
}

.card .box {
    justify-content: space-around;
    flex-direction: column;
}

/* PLANNING SECTION */

#planning {
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#planning .col {
    margin: 2rem;
}

.col img {
    width: 100%;
    object-fit: cover;
}


/* TESTIMONIALS SECTION */

#testimonials {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#testimonials .card {
    padding: 2rem;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
}

#testimonials .card-img {
    margin: 1rem;
}


/* BENEFITS SECTION */

#benefits {
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#benefits .card{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primary-color-light);
}

#benefits .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
}


/* ABOUT US SECTIONS */
#about-us {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#about-us .card {
    margin-bottom: 2rem;
}


/* CONTACT-US SECTION */

#contact-us {
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem; 
    text-align: center;
}


/* FOOTER */
footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: var(--gray-color);
}

footer .container {
    max-width: 380px;
    padding: 1rem 1rem;
}




/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .container {
        width: 740px;
    }

    #introduction .cards-container, #benefits .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #introduction .card:first-child {
        width: calc(66.666% - 2rem);
        display: flex;
    }

    #introduction .card:first-child .box {
        width: 100%;
    }

    #big-card {
        flex-direction: column;
    }

    #left-box, #img-box {
        width: 100%;
    }

    #img-box img {
        height: 100%;
        padding-bottom: 0;
        object-fit:contain;
    }

    #introduction .card {
        width: calc(33.333% - 2rem);
    }

    #benefits .card {
        width: calc(50% - 2rem);
    }

    #testimonials .card {
        display: flex;
    }

    #testimonials .card-txt {
        flex-grow: 1;
    }

    #testimonials .card-img {
        flex-shrink: 0;
        margin: 0 3rem 0 0;
    }

    #about-us .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #about-us .card:first-child {
        width: calc(60% - 2rem);
    }

    #about-us .card {
        width: calc(40% - 2rem);
    }
}

@media screen and (min-width: 992px) {
    
    .container {
        max-width: 940px;
    }

    #bars {
        display: none;
    }

    #nav {
        display: block;
    }

    #introduction .card:first-child .box {
        width: 50%;
    }

    #introduction .card:first-child {
        display: flex;
    }

    #img-box img {
        height: 85%;
        padding-bottom: 0;
        margin-top: 0;
    }

   #img-box {
    display: flex;
    justify-content: flex-end;
   }

    #big-card {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #planning .col {
        width: calc(50% - 4rem);
    }

    #planning .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #benefits .card {
        width: calc(33.333% - 2rem);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}