* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3684fd;
    --primary-color-light: #b5ddff;
    
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;

    --text-color: #000;
    --white-color: #fff;
    --gray-color: #333;
    --yellow-color: #fbc15f;
}



/* DEBUG RULES */

.debug .box {
    height: 80px;
    padding: 20px;
    background-color: var(--primary-color-light);
}



/* COMMON RULES */

.container {
    max-width: 600px;
    margin: auto;
}

.px-1point5 {
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}



/* HEADER */

.site-header {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 4rem;
}



/* INTRODUCTION SECTION */

#introduction .card{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primary-color-light);
}

#introduction .cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
}




/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }

    #introduction .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #introduction .card:first-child {
        width: calc(66.666% - 2rem);
    }

    #introduction .card {
        width: calc(33.333% - 2rem);
    }
}

@media screen and (min-width: 992px) {
    
    .container {
        max-width: 940px;
    }

    #introduction .card:first-child .box {
        width: 50%;
    }

    #introduction .card:first-child {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}